.d2l-max-width {
	max-width: none !important;
}
*[class^="d2l_1_27_"] {
    background-color: #2A3C58 !important;
    box-shadow: black 0px 0px 5px;
}
*[class^="d2l_1_78_"] {
	background: #2A3C58 !important;
}
.d2l_1_80_688 {
	border: none !important;
}
#d2l_navbar div.d_nb_cMiddle {
	background-color: #425D85 !important;
}
#d2l_navbar div.d_nb_cTop {
	background-color: #425D85 !important;
}
.d2l-page-bg > div, .d2l-page-main {
	background-color: #425D85 !important;
}
.d2l_1_87_846 {
	border: 0px !important;
}
.d2l_1_86_946 {
	background-color: #ddd !important;
}
div.dco div.dco_c, div.dco_f div.dco_c {
	background-color: #DDD !important;
}
